# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [1]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [2]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://github.com/guipsamora/pandas_exercises/blob/master/Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [3]:
filename  =  r"data\wind.data"
data = pd.read_csv(filename, sep ="\s+",parse_dates = [[0,1,2]])
data.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [5]:
import datetime
def fix_year(x):
    year = x.year - 100 if x.year > 1989 else x.year
    return datetime.date(year, x.month, x.day)
data['Yr_Mo_Dy'] =data['Yr_Mo_Dy'].apply(fix_year)
data.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [9]:
data['Yr_Mo_Dy'] = pd.to_datetime(data['Yr_Mo_Dy'])
data.set_index('Yr_Mo_Dy',inplace=True)
data.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [11]:
data.isnull().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [14]:
data.shape[0]- data.isnull().sum()

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [15]:
data.mean().mean()

10.227982360836924

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [20]:
functions = ['min', 'max', 'mean','std']
loc_stats = data[data.columns.values].agg(functions)
loc_stats = loc_stats.T
loc_stats

      min    max       mean       std
RPT  0.67  35.80  12.362987  5.618413
VAL  0.21  33.37  10.644314  5.267356
ROS  1.50  33.84  11.660526  5.008450
KIL  0.00  28.46   6.306468  3.605811
SHA  0.13  37.54  10.455834  4.936125
BIR  0.00  26.16   7.092254  3.968683
DUB  0.00  30.37   9.797343  4.977555
CLA  0.00  31.08   8.495053  4.499449
MUL  0.00  25.88   8.493590  4.166872
CLO  0.04  28.21   8.707332  4.503954
BEL  0.13  42.38  13.121007  5.835037
MAL  0.67  42.54  15.599079  6.699794

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [70]:
day_stats = pd.DataFrame()
print(data.head().to_string())
 

# this time we determine axis equals to one so it gets each row.
day_stats['min'] = data.min(axis = 1) # min
day_stats['max'] = data.max(axis = 1) # max 
day_stats['mean'] = data.mean(axis = 1) # mean
day_stats['std'] = data.std(axis = 1) # standard deviations

print(day_stats.head().to_string())

              RPT    VAL    ROS    KIL    SHA   BIR    DUB    CLA    MUL    CLO    BEL    MAL
Yr_Mo_Dy
1961-01-01  15.04  14.96  13.17   9.29    NaN  9.87  13.67  10.25  10.83  12.58  18.50  15.04
1961-01-02  14.71    NaN  10.83   6.50  12.62  7.67  11.50  10.04   9.79   9.67  17.54  13.83
1961-01-03  18.50  16.88  12.33  10.13  11.17  6.17  11.25    NaN   8.50   7.67  12.75  12.71
1961-01-04  10.58   6.63  11.75   4.58   4.54  2.88   8.63   1.79   5.83   5.88   5.46  10.88
1961-01-05  13.33  13.25  11.42   6.17  10.71  8.21  11.92   6.54  10.92  10.34  12.92  11.83
             min    max       mean       std
Yr_Mo_Dy
1961-01-01  9.29  18.50  13.018182  2.808875
1961-01-02  6.50  17.54  11.336364  3.188994
1961-01-03  6.17  18.50  11.641818  3.681912
1961-01-04  1.79  11.75   6.619167  3.198126
1961-01-05  6.17  13.33  10.630000  2.445356

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [79]:
data['date'] = data.index
data['year'] = data['date'].apply(lambda dt : dt.year)
data['month'] = data['date'].apply(lambda dt : dt.month)
data['day'] = data['date'].apply(lambda dt : dt.day)

jan_data =data.loc[data['month']==1,'RPT':'MAL']
jan_data.mean()

RPT    14.847325
VAL    12.914560
ROS    13.299624
KIL     7.199498
SHA    11.667734
BIR     8.054839
DUB    11.819355
CLA     9.512047
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
dtype: float64

### Step 12. Downsample the record to a yearly frequency for each location.

In [81]:
yearly_data =data.loc[(data['month']==1) & (data['day']==1),'RPT':'MAL']
yearly_data.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1962-01-01,9.29,3.42,11.54,3.50,2.21,1.96,10.41,2.79,3.54,5.17,4.38,7.92
1963-01-01,15.59,13.62,19.79,8.38,12.25,10.00,23.45,15.71,13.59,14.37,17.58,34.13
1964-01-01,25.80,22.13,18.21,13.25,21.29,14.79,14.12,19.58,13.25,16.75,28.96,21.00
1965-01-01,9.54,11.92,9.00,4.38,6.08,5.21,10.25,6.08,5.71,8.63,12.04,17.41

### Step 13. Downsample the record to a monthly frequency for each location.

In [82]:
monthly_data =data.loc[(data['month']==1),'RPT':'MAL']
monthly_data.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 14. Downsample the record to a weekly frequency for each location.

In [83]:
weekly =data.loc[(data['day'] >=1) &(data['day'] <=7),'RPT':'MAL']
weekly.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 15. Calculate the mean windspeed for each month in the dataset.  
#### Treat January 1961 and January 1962 as *different* months.
#### (hint: first find a  way to create an identifier unique for each month.)

In [85]:
data.groupby(['month','year']).mean()

                  RPT        VAL        ROS        KIL        SHA        BIR  \
month year
1     1961  14.841333  11.988333  13.431613   7.736774  11.072759   8.588065
      1962  14.783871  13.160323  12.591935   7.538065  11.779677   8.720000
      1963  14.868387  11.112903  15.121613   6.635806  11.080645   7.835484
      1964  12.661290  11.818387  11.741290   6.953548  11.400645   6.865806
      1965  15.741613  15.546774  15.274194   8.258387  13.588065   9.251290
      1966  15.834839  13.283226  15.136452   8.659355  12.968065   9.163548
      1967  13.736129  11.470968  11.537419   6.928065  10.833548   6.730323
      1968  14.733226  12.829032  12.294194   7.849032  12.262581   7.133226
      1969  12.824839  12.113871  11.403871   6.708710  10.557097   5.926452
      1970  13.152581  11.731935  13.083871   5.810968   9.507742   8.040323
      1971  15.098065  13.398387  13.080000   6.364194  11.342258   7.759677
      1972  14.383871  11.848387  13.732258   5.925161  10.823226   7.291290
      1973  13.177742  12.202903  10.860968   5.454516   9.327419   7.419677
      1974  20.990968  17.623548  17.514839  10.549355  15.858387  11.298387
      1975  17.100323  15.812903  13.942581   8.081935  13.934194   8.437742
      1976  15.626129  14.240323  13.867097   7.789355  13.081935   9.003548
      1977  13.404516  10.377742  12.764839   5.884516   9.159677   8.005161
      1978  14.291935  11.872258  12.014194   6.463226  11.402903   7.517097
2     1961  16.269286  14.975357  14.441481   9.230741  13.852143  10.937500
      1962  15.844643  12.041429  15.178929   9.262963  13.821429   9.726786
      1963  14.418929  11.876429  15.697500   8.611786  12.887857   9.600357
      1964  14.114138  12.487241  13.959655   8.010000  13.164138   9.230690
      1965   9.282143   6.729643  11.346429   5.239286   7.108929   4.090714
      1966  17.111071  15.161786  15.554286   9.524286  15.817143  10.390714
      1967  14.510357  13.636786  13.610357   8.434643  14.155714   9.321429
      1968  12.294828  10.802759  11.742069   5.358966   9.673448   4.635517
      1969  13.504643  10.426786  14.240714   7.326786  11.314643   5.482857
      1970  14.820714  13.776071  12.643929   6.894643  11.923929   7.954643
      1971  11.724643   9.757143  10.311786   5.242143   9.676786   5.492143
      1972  14.046207  10.814483  12.960000   6.347586  10.918621   7.245172
...               ...        ...        ...        ...        ...        ...
11    1967  11.487667   9.615000  11.110000   6.161667  10.008333   5.707667
      1968  14.604000  14.257333  14.422333   6.828000  13.046333   8.008667
      1969  12.462000  11.430667  12.141333   5.499667   9.828667   6.710000
      1970  13.721667  11.998333  12.118667   6.504000  10.861000   8.169333
      1971  13.334667  10.853667  12.223333   6.250667  10.895000   7.660000
      1972  12.247333  12.351667  11.569333   5.364000   7.687000   5.761667
      1973  11.540667  10.868000  10.613000   5.385000  10.463667   6.147333
      1974  13.125333  12.139000  11.990333   6.086333  11.435333   6.299000
      1975  12.206000  10.491000  10.797667   4.516333   9.549000   5.061667
      1976  10.962667   9.443667   9.202000   3.696000   7.459333   7.026333
      1977  16.946667  15.444667  13.561333   7.584000  12.088667   9.161333
      1978  16.151667  14.802667  13.508000   7.317333  11.475000   8.743000
12    1961  14.973548  11.903871  13.980323   7.073871  11.323548   8.302258
      1962  16.785484  13.753548  14.276452   9.557419  13.724839  10.321613
      1963  14.635161  11.677419  14.796129   7.246774  11.861290   8.451290
      1964  15.263871  12.455484  14.542903   7.071935  11.136129   7.749355
      1965  14.967742  13.641935  12.678065   7.661935  12.722581   8.398710
      1966  16.103226  14.655161  12.500968   9.403548  15.485161  10.715484
      1967  12.560645   9.963871  11.303548   6.922903  11.109032   6.421290
      1968  13.090645  11.132903  13.237742   6.070000   9.675161   5.445484
      1969  13.335806  11.969032  12.433226   5.446129   9.766129   7.532581
      1970  12.788710   9.659032  14.111935   5.684516  10.013548   6.186129
      1971  13.162581  10.606774  13.367097   6.070000  10.393871   7.841613
      1972  15.641290  15.786774  13.743548   7.825806  11.673871   9.877742
      1973  13.670000  12.086774  11.278065   5.619355  10.672581   6.914516
      1974  18.511290  17.805806  14.773871   9.734839  16.944194  10.153871
      1975  11.655484   8.686774  11.217742   4.478387   6.628710   4.178065
      1976  11.962258  10.086774  10.474516   3.383871   7.645484   6.148387
      1977  14.751935  12.744839  13.469677   6.592258  11.247742   9.466774
      1978  16.175484  13.748065  15.635161   7.094839  11.398710   9.241613

                  DUB        CLA        MUL        CLO        BEL        MAL  \
month year
1     1961  11.184839   9.245333   9.085806  10.107419  13.880968  14.703226
      1962  14.211935   9.600000   9.670000  11.498710  16.369355  15.661613
      1963  12.797419   9.844839   7.841613   9.390000  11.428710  18.822258
      1964   9.592903   9.687419   6.947742   9.676774  15.067419  14.145484
      1965  13.850968  11.260000   9.899355  11.706129  16.196129  17.888710
      1966  12.150000  10.475806   8.750645  10.739677  14.074516  15.554194
      1967   9.787419   7.474839   7.627097  10.169032  13.457742  17.124516
      1968  12.395806   9.225806   9.415484   9.255161  14.213871  19.095484
      1969   9.882903   8.375161   8.378065   9.515484  13.410000  16.957742
      1970   9.843226   8.834194   8.407097   7.626452  12.403871  17.192903
      1971  10.297419   8.350000   8.979355   8.666774  14.392581  16.360000
      1972  11.287097   6.733548   9.109355   8.728387  12.170645  17.598710
      1973  10.738710   7.880000   8.651290   7.596774  12.076452  14.684516
      1974  14.112258  12.786452  14.691935  15.092903  19.929677  24.573226
      1975  13.179677  12.601935  13.000645  11.064839  19.266774  21.713226
      1976  15.121290  11.414839  13.493226  11.553871  16.337097  22.896129
      1977  10.107419   7.211613   8.280000   9.328387  12.131935  18.830000
      1978  12.207097  10.206452   9.549032   9.247419  15.101613  20.715806
2     1961  11.890714  11.846071  11.821429  12.714286  18.583214  15.411786
      1962  16.916429  11.285357  12.021071  12.126429  16.705357  18.426786
      1963  12.729286  10.823214   8.981786  10.355714  13.266429  17.120714
      1964  12.821724  11.646552   8.137241  12.339655  14.900690  16.857586
      1965   9.251429   5.779643   5.894643   7.345714   7.881786  13.530714
      1966  13.261429  12.716429  10.302143  13.464286  17.433929  20.116071
      1967  13.087500  10.497143   9.903929  13.056786  17.190357  19.981429
      1968   8.494828   6.803103   6.000690   6.318276   9.998621  14.467931
      1969  10.983929   8.747143   8.994286   9.081071  14.334643  19.786786
      1970  11.837857   9.223214  10.339643   8.415357  14.899643  18.016786
      1971   8.683929   7.075000   8.272857   7.833571  12.883929  15.863214
      1972  10.276552   7.311379   8.710345   8.854483  13.124483  17.257931
...               ...        ...        ...        ...        ...        ...
11    1967   8.983000   7.946333   7.594667   7.562667  14.272000  18.067667
      1968  10.813000  11.214333   9.175333  10.901667  15.818667  20.313000
      1969  10.166333   8.304667   8.458000   7.864667  14.758667  20.094667
      1970  10.266000   8.232333  10.010333   8.312000  13.270667  17.852667
      1971  11.062333   7.127667   9.714000   8.815000  15.145000  21.020333
      1972  10.761000   8.375000   8.483000   7.318000  13.775667  17.888667
      1973   7.525667   7.619667   8.378333   8.311333  11.499333  18.441000
      1974  11.766667   9.329333   9.640333   8.216667  12.064000  17.919667
      1975   9.996333   6.884333   8.001000   7.278000  11.748000  16.960667
      1976   9.058333   5.791000   6.577000   7.512333  12.568333  15.685333
      1977  14.051000  11.286000  10.318667  10.327000  17.215333  22.333000
      1978  11.492333   9.657333  10.701333  10.676000  17.404667  20.723000
12    1961  11.753548   8.163226   7.965806   9.246774  12.239355  13.098710
      1962  13.735806  11.212258  10.683548  11.881935  16.043548  20.074516
      1963  11.607419  10.677742   8.274194  10.144839  14.541935  16.530968
      1964  12.536774   8.690968   8.424194  10.840323  15.342258  18.040000
      1965  11.627419   9.155806   8.575161  10.438710  14.518065  15.506129
      1966  15.567419  11.372258  12.237419  11.297419  18.603226  21.180323
      1967  12.128065   8.954839   9.508065   8.480968  15.589677  19.952581
      1968   9.338710   7.143548   7.893226   9.208065  12.050323  18.806452
      1969  10.076774   8.656774   8.801935   7.603226  13.511613  17.707097
      1970   9.073871   6.961290   8.178387   7.634839  10.878065  17.411613
      1971  12.131290   8.605161   9.708387  10.186129  16.759032  21.169355
      1972  12.566774  11.049355  10.232581   9.782258  17.575806  19.519355
      1973  10.841290   8.516129   9.311613   9.702581  13.274194  19.728387
      1974  16.602903  15.034194  14.883548  12.915161  18.803548  24.124194
      1975  10.351290   6.176129   8.401935   7.342903  12.028710  18.689032
      1976   8.034516   4.500000   5.952258   6.147742   7.814839  14.346774
      1977  13.231613  10.703871  10.401613   9.415484  13.237419  19.299677
      1978  12.077419  10.194839  10.616774  11.028710  13.859677  21.371613

             day
month year
1     1961  16.0
      1962  16.0
      1963  16.0
      1964  16.0
      1965  16.0
      1966  16.0
      1967  16.0
      1968  16.0
      1969  16.0
      1970  16.0
      1971  16.0
      1972  16.0
      1973  16.0
      1974  16.0
      1975  16.0
      1976  16.0
      1977  16.0
      1978  16.0
2     1961  14.5
      1962  14.5
      1963  14.5
      1964  15.0
      1965  14.5
      1966  14.5
      1967  14.5
      1968  15.0
      1969  14.5
      1970  14.5
      1971  14.5
      1972  15.0
...          ...
11    1967  15.5
      1968  15.5
      1969  15.5
      1970  15.5
      1971  15.5
      1972  15.5
      1973  15.5
      1974  15.5
      1975  15.5
      1976  15.5
      1977  15.5
      1978  15.5
12    1961  16.0
      1962  16.0
      1963  16.0
      1964  16.0
      1965  16.0
      1966  16.0
      1967  16.0
      1968  16.0
      1969  16.0
      1970  16.0
      1971  16.0
      1972  16.0
      1973  16.0
      1974  16.0
      1975  16.0
      1976  16.0
      1977  16.0
      1978  16.0

[216 rows x 13 columns]

### Step 16. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [94]:
weely_data =data.resample('W').agg(['min','max','mean','std']) 
weely_data[1:53].head()

              RPT                               VAL                    \
              min    max       mean       std   min    max       mean
Yr_Mo_Dy
1961-01-08  10.58  18.50  13.541429  2.631321  6.63  16.88  11.486667
1961-01-15   9.04  19.75  12.468571  3.555392  3.54  12.08   8.967143
1961-01-22   4.92  19.83  13.204286  5.337402  3.42  14.37   9.862857
1961-01-29  13.62  25.04  19.880000  4.619061  9.96  23.91  16.141429
1961-02-05  10.58  24.21  16.827143  5.251408  9.46  24.21  15.460000

                        ROS           ...        year      month      \
                 std    min    max    ...        mean  std   min max
Yr_Mo_Dy                              ...
1961-01-08  3.949525   7.62  12.33    ...      1961.0  0.0     1   1
1961-01-15  3.148945   7.08  19.50    ...      1961.0  0.0     1   1
1961-01-22  3.837785   7.29  20.79    ...      1961.0  0.0     1   1
1961-01-29  5.170224  12.67  25.84    ...      1961.0  0.0     1   1
1961-02-05  5.187395   9.04  19.70    ...      1961.0  0.0     1   2

                              day
                mean      std min max       mean        std
Yr_Mo_Dy
1961-01-08  1.000000  0.00000   2   8   5.000000   2.160247
1961-01-15  1.000000  0.00000   9  15  12.000000   2.160247
1961-01-22  1.000000  0.00000  16  22  19.000000   2.160247
1961-01-29  1.000000  0.00000  23  29  26.000000   2.160247
1961-02-05  1.714286  0.48795   1  31  10.857143  13.483676

[5 rows x 60 columns]