#### Forecasting with Single Exponential Smoothing 
##### F<sub>(t+1)</sub> = α y<sub>t</sub> + (1−α)F<sub>t</sub>, 0<α≤1, t>0

This can be written as:
#####  F<sub>(t+1)</sub>=S<sub>t</sub>+αϵ<sub>t</sub>,

where ϵt is the forecast error (actual - forecast) for period t.
In other words, the new forecast is the old one plus an adjustment for the error that occurred in the last forecast.

In [1]:
import datetime
import numpy as np
import pandas as pd
import pandas_datareader as pdr
from statsmodels.tsa.holtwinters import SimpleExpSmoothing as ses
import matplotlib.pyplot as plt
import seaborn as sns
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
sns.set()

In [2]:
start_date = datetime.datetime(2014,1,1)
end_date   = datetime.datetime(2019,7,9)
bac_df = pdr.get_data_yahoo('BAC', start='2014-01-01')

In [3]:
bac_df.drop(['Adj Close'],axis =1 ,inplace =True)
bac_df = bac_df.resample('W').last()
bac_df.tail()

                 High        Low       Open      Close       Volume
Date
2019-06-16  28.170000  27.780001  27.910000  28.040001   37322100.0
2019-06-23  28.549999  28.080000  28.190001  28.120001   69444000.0
2019-06-30  29.270000  28.730000  29.010000  29.000000  101856900.0
2019-07-07  29.570000  29.150000  29.360001  29.260000   33092000.0
2019-07-14  29.400000  28.959999  29.170000  29.020000   40501300.0

In [4]:
model = ses(bac_df['Close'])
model_fit  = model.fit()
model_fit.predict()

2019-07-21    29.029836
Freq: W-SUN, dtype: float64

In [5]:
y_pred = model_fit.fittedvalues
y_pred.head()

Date
2014-01-05    16.426026
2014-01-12    16.410694
2014-01-19    16.754438
2014-01-26    16.998931
2014-02-02    16.473777
Freq: W-SUN, dtype: float64

In [6]:
bac_df.head()

                 High        Low       Open      Close       Volume
Date
2014-01-05  16.500000  16.230000  16.270000  16.410000  129921800.0
2014-01-12  16.790001  16.610001  16.750000  16.770000   87454100.0
2014-01-19  17.219999  16.990000  17.200001  17.010000   96232200.0
2014-01-26  16.719999  16.450001  16.670000  16.450001  112899300.0
2014-02-02  16.980000  16.610001  16.719999  16.750000  139432100.0

In [10]:
values  = pd.DataFrame({'alpha':np.zeros(10),'mse':np.zeros(10)})
alpha =0.1
for idx in range(10):
    model = ses(bac_df['Close'])
    bac_df['y_pred'] = model.fit(alpha).fittedvalues
    bac_df['MSE'] =  (bac_df['Close']-bac_df['y_pred']) ** 2
    mse  = bac_df['MSE'].mean()
    values['alpha'][idx]=alpha
    values['mse'][idx]=mse
    alpha +=0.1

In [12]:
values

   alpha       mse
0    0.1  2.742823
1    0.2  1.518666
2    0.3  1.110910
3    0.4  0.906826
4    0.5  0.785825
5    0.6  0.708685
6    0.7  0.659045
7    0.8  0.628976
8    0.9  0.614417
9    1.0  0.613523

In [14]:
bac_df

,High,Low,Open,Close,Volume,y_pred,MSE
Date,,,,,,,
2014-01-05,16.500000,16.230000,16.270000,16.410000,129921800.0,16.410000,0.000000
2014-01-12,16.790001,16.610001,16.750000,16.770000,87454100.0,16.410000,0.129600
2014-01-19,17.219999,16.990000,17.200001,17.010000,96232200.0,16.770000,0.057600
2014-01-26,16.719999,16.450001,16.670000,16.450001,112899300.0,17.010000,0.313599
2014-02-02,16.980000,16.610001,16.719999,16.750000,139432100.0,16.450001,0.090000
2014-02-09,16.879999,16.629999,16.820000,16.820000,122571100.0,16.750000,0.004900
2014-02-16,16.760000,16.650000,16.740000,16.700001,100684300.0,16.820000,0.014400
2014-02-23,16.490000,16.250000,16.290001,16.290001,106236900.0,16.700001,0.168100
2014-03-02,16.650000,16.350000,16.490000,16.530001,126252100.0,16.290001,0.057600
2014-03-09,17.590000,17.250000,17.540001,17.330000,109547100.0,16.530001,0.639999
2014-03-16,17.219999,16.760000,17.080000,16.799999,131297200.0,17.330000,0.280901
2014-03-23,18.030001,17.559999,18.030001,17.559999,155721000.0,16.799999,0.577600
2014-03-30,17.150000,16.850000,17.090000,16.980000,79909500.0,17.559999,0.336400
2014-04-06,17.219999,16.700001,17.209999,16.719999,110409600.0,16.980000,0.067600
2014-04-13,16.129999,15.620000,15.860000,15.770000,133757100.0,16.719999,0.902498
2014-04-20,16.250000,15.930000,16.139999,16.150000,104765500.0,15.770000,0.144399
2014-04-27,16.230000,15.930000,16.100000,15.950000,84617700.0,16.150000,0.040000
2014-05-04,15.290000,15.100000,15.180000,15.250000,73562900.0,15.950000,0.490000
2014-05-11,14.990000,14.670000,14.950000,14.740000,86751600.0,15.250000,0.260100
2014-05-18,14.540000,14.370000,14.510000,14.510000,80476100.0,14.740000,0.052900
2014-05-25,14.810000,14.650000,14.710000,14.720000,51648900.0,14.510000,0.044100
2014-06-01,15.230000,15.070000,15.120000,15.140000,45787100.0,14.720000,0.176400
2014-06-08,15.650000,15.430000,15.450000,15.590000,73930500.0,15.140000,0.202500
2014-06-15,15.550000,15.330000,15.460000,15.440000,61588100.0,15.590000,0.022500
2014-06-22,15.630000,15.440000,15.630000,15.450000,54765300.0,15.440000,0.000100
2014-06-29,15.420000,15.310000,15.380000,15.330000,58149200.0,15.450000,0.014400
2014-07-06,16.230000,16.000000,16.070000,16.030001,70582300.0,15.330000,0.490001
2014-07-13,15.430000,15.300000,15.390000,15.380000,56849400.0,16.030001,0.422501
2014-07-20,15.500000,15.250000,15.270000,15.490000,74859200.0,15.380000,0.012100
2014-07-27,15.630000,15.550000,15.590000,15.590000,35627200.0,15.490000,0.010000
...,...,...,...,...,...,...,...
2018-12-23,24.510000,23.260000,23.910000,23.370001,160800400.0,24.480000,1.232097
2018-12-30,24.750000,24.260000,24.590000,24.389999,78693800.0,23.370001,1.040397
2019-01-06,25.650000,25.030001,25.100000,25.580000,83829100.0,24.389999,1.416101
2019-01-13,26.040001,25.459999,25.530001,26.030001,63476000.0,25.580000,0.202501
2019-01-20,29.459999,28.709999,29.020000,29.299999,97928200.0,26.030001,10.692891
2019-01-27,29.719999,29.139999,29.280001,29.580000,72182100.0,29.299999,0.078400
2019-02-03,28.840000,28.309999,28.600000,28.379999,64244100.0,29.580000,1.440002
2019-02-10,28.320000,27.860001,28.150000,28.290001,50031300.0,28.379999,0.008100
2019-02-17,29.309999,28.670000,28.760000,29.110001,65867000.0,28.290001,0.672399
2019-02-24,29.270000,28.959999,29.049999,29.080000,47887800.0,29.110001,0.000900
2019-03-03,29.650000,29.209999,29.330000,29.309999,45771500.0,29.080000,0.052900
2019-03-10,28.670000,28.010000,28.059999,28.650000,40860700.0,29.309999,0.435600
2019-03-17,29.610001,29.260000,29.440001,29.299999,82346200.0,28.650000,0.422500
2019-03-24,28.070000,26.709999,27.910000,27.010000,118851600.0,29.299999,5.244095
2019-03-31,27.680000,27.299999,27.549999,27.590000,83446300.0,27.010000,0.336400
2019-04-07,29.500000,28.980000,29.320000,29.080000,46383400.0,27.590000,2.220099
2019-04-14,30.219999,29.559999,29.559999,30.170000,100192000.0,29.080000,1.188100
2019-04-21,30.160000,29.820000,29.950001,30.030001,61796600.0,30.170000,0.019600
2019-04-28,30.389999,30.049999,30.170000,30.350000,40627500.0,30.030001,0.102400
2019-05-05,30.799999,30.500000,30.660000,30.709999,35256100.0,30.350000,0.129599
2019-05-12,29.709999,29.190001,29.459999,29.580000,59649900.0,30.709999,1.276898
2019-05-19,28.639999,28.219999,28.250000,28.400000,43772500.0,29.580000,1.392401
2019-05-26,28.260000,27.860001,27.930000,28.180000,35524400.0,28.400000,0.048400
2019-06-02,26.870001,26.480000,26.500000,26.600000,68304200.0,28.180000,2.496400
2019-06-09,27.790001,27.420000,27.750000,27.530001,51317200.0,26.600000,0.864901
2019-06-16,28.170000,27.780001,27.910000,28.040001,37322100.0,27.530001,0.260100
2019-06-23,28.549999,28.080000,28.190001,28.120001,69444000.0,28.040001,0.006400
2019-06-30,29.270000,28.730000,29.010000,29.000000,101856900.0,28.120001,0.774399
2019-07-07,29.570000,29.150000,29.360001,29.260000,33092000.0,29.000000,0.067600
2019-07-14,29.400000,28.959999,29.170000,29.020000,40501300.0,29.260000,0.057600