In [1]:
corpus = ['The sky is blue and beautiful.',
          'Love this blue and beautiful sky!',
          'The quick brown fox jumps over the lazy dog.',
          "A king's breakfast has sausages, ham, bacon, eggs, toast and beans",
          'I love green eggs, ham, sausages and bacon!',
          'The brown fox is quick and the blue dog is lazy!',
          'The sky is very blue and the sky is very beautiful today',
          'The dog is lazy but the brown fox is quick!'
]
labels = ['weather', 'weather', 'animals', 'food', 'food', 'animals', 'weather', 'animals']

In [2]:
import pandas as pd
import numpy as np
import re
import nltk
import matplotlib.pyplot as plt
pd.options.display.max_colwidth = 200
%matplotlib inline

In [3]:
import string

In [4]:
corpus_np = np.array(corpus)

In [5]:
corpus_df = pd.DataFrame({'Document': corpus_np, 'Category': labels})

In [6]:
corpus_df

                                                             Document Category
0                                      The sky is blue and beautiful.  weather
1                                   Love this blue and beautiful sky!  weather
2                        The quick brown fox jumps over the lazy dog.  animals
3  A king's breakfast has sausages, ham, bacon, eggs, toast and beans     food
4                         I love green eggs, ham, sausages and bacon!     food
5                    The brown fox is quick and the blue dog is lazy!  animals
6            The sky is very blue and the sky is very beautiful today  weather
7                         The dog is lazy but the brown fox is quick!  animals

In [7]:
wpt = nltk.WordPunctTokenizer()
stop_words = nltk.corpus.stopwords.words('english')

In [8]:
def to_lower(input_text):
    return input_text.lower()

In [9]:
def remove_punctuation(input_text):
    punctuation ="["+string.punctuation+"]"
    return re.sub(punctuation,'',input_text)

In [10]:
def remove_stopwords(input_text):
    return [word for word in input_text if word not in stop_words]

In [11]:
def clean_data(df):
    df['Document'] =df ['Document'].apply(to_lower)
    df['Document'] =df ['Document'].apply(remove_punctuation)
    df['Tokenized_Words'] =df ['Document'].apply(wpt.tokenize)
    df['Tokenized_Words'] =df ['Tokenized_Words'].apply(remove_stopwords)
    df['Document'] =  df['Tokenized_Words'].apply(lambda x: ' '.join(x))
    return df

In [12]:
corpus_df = clean_data(corpus_df)

In [13]:
corpus_df

,Document,Category,Tokenized_Words
0,sky blue beautiful,weather,"[sky, blue, beautiful]"
1,love blue beautiful sky,weather,"[love, blue, beautiful, sky]"
2,quick brown fox jumps lazy dog,animals,"[quick, brown, fox, jumps, lazy, dog]"
3,kings breakfast sausages ham bacon eggs toast beans,food,"[kings, breakfast, sausages, ham, bacon, eggs, toast, beans]"
4,love green eggs ham sausages bacon,food,"[love, green, eggs, ham, sausages, bacon]"
5,brown fox quick blue dog lazy,animals,"[brown, fox, quick, blue, dog, lazy]"
6,sky blue sky beautiful today,weather,"[sky, blue, sky, beautiful, today]"
7,dog lazy brown fox quick,animals,"[dog, lazy, brown, fox, quick]"

In [17]:
norm_corpus= corpus_df['Document'].values

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer
tv = TfidfVectorizer(min_df=0., max_df=1., norm="l2",
                     use_idf=True, smooth_idf=True)
tv_matrix = tv.fit_transform(norm_corpus)
tv_matrix = tv_matrix.toarray()

In [19]:
vocab = tv.get_feature_names()

In [20]:
pd.DataFrame(np.round(tv_matrix, 2), columns=vocab)

,bacon,beans,beautiful,blue,breakfast,brown,dog,eggs,fox,green,ham,jumps,kings,lazy,love,quick,sausages,sky,toast,today
0,0.00,0.00,0.60,0.53,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.60,0.00,0.0
1,0.00,0.00,0.49,0.43,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.57,0.00,0.00,0.49,0.00,0.0
2,0.00,0.00,0.00,0.00,0.00,0.38,0.38,0.00,0.38,0.00,0.00,0.53,0.00,0.38,0.00,0.38,0.00,0.00,0.00,0.0
3,0.32,0.38,0.00,0.00,0.38,0.00,0.00,0.32,0.00,0.00,0.32,0.00,0.38,0.00,0.00,0.00,0.32,0.00,0.38,0.0
4,0.39,0.00,0.00,0.00,0.00,0.00,0.00,0.39,0.00,0.47,0.39,0.00,0.00,0.00,0.39,0.00,0.39,0.00,0.00,0.0
5,0.00,0.00,0.00,0.37,0.00,0.42,0.42,0.00,0.42,0.00,0.00,0.00,0.00,0.42,0.00,0.42,0.00,0.00,0.00,0.0
6,0.00,0.00,0.36,0.32,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.72,0.00,0.5
7,0.00,0.00,0.00,0.00,0.00,0.45,0.45,0.00,0.45,0.00,0.00,0.00,0.00,0.45,0.00,0.45,0.00,0.00,0.00,0.0

In [25]:
from sklearn.feature_extraction.text import CountVectorizer
# get bag of words features in sparse format
cv = CountVectorizer(min_df=0., max_df=1.)
cv_matrix = cv.fit_transform(norm_corpus)

In [26]:
cv_matrix = cv_matrix.toarray()
cv_matrix

array([[0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0],
       [1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0],
       [1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 1],
       [0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0]],
      dtype=int64)

In [29]:
from sklearn.decomposition import LatentDirichletAllocation
lda = LatentDirichletAllocation(n_components =3, max_iter=10000, random_state=0)
dt_matrix = lda.fit_transform(cv_matrix)
features = pd.DataFrame(dt_matrix, columns=['T1', 'T2', 'T3'])
features

         T1        T2        T3
0  0.832191  0.083480  0.084329
1  0.863554  0.069100  0.067346
2  0.047794  0.047776  0.904430
3  0.037243  0.925559  0.037198
4  0.049121  0.903076  0.047802
5  0.054902  0.047778  0.897321
6  0.888287  0.055697  0.056016
7  0.055704  0.055689  0.888607